img {
    width: auto;
    height: 200px;
    vertical-align: middle;
}

body {
    background-color: #B39C5E;
}
h1 {
    text-align: center;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}